<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507746288173-q3uhdudqqnuup2eqkik8ug2452h17a4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507746288173-q3uhdudqqnuup2eqkik8ug2452h17a4v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>507746288173-ab1ugh88ars4rctedg8pt7cn4c207cen.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCiBhj0PN4z2Ty567uXh_jjct-i9hMqSmM</string>
	<key>GCM_SENDER_ID</key>
	<string>507746288173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterGoogleAuthTemplate</string>
	<key>PROJECT_ID</key>
	<string>flutter--auth-template-1</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter--auth-template-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507746288173:ios:d6ccdc6601b98a5dbb6ea4</string>
	<key>DATABASE_URL</key>
	<string>https://flutter--auth-template-1.firebaseio.com</string>
</dict>
</plist>